.teamPage {
  width: 100%;
  height: 100vh;
  background-color:rgb(247, 246, 244);
  display: flex;
  flex-direction: column;
  align-items:center;
  background-image: url('../../../assets/img/header.jpg');
}
  h2 {   
    font-family: 'Comic Book';
    text-shadow: 1px 3px 1px rgb(10, 10, 10);
    color: gold;
    font-weight: 400;
    font-size: 55px;  
    text-align: center;
    margin: 20px auto;
  }
  .teamPage__cards {
    width: 100%;
    padding: 10px 100px;
  }
  .cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .cards_card0,
  .cards_card1,
  .cards_card2 {
     width: 25%;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards_card0 {
   background-image: url( '../../../assets/img/fonCad3.png');
  }
  .cards_card1 {
    background-image: url( '../../../assets/img/fonCad2.png');
   }
   .cards_card2 {
    background-image: url( '../../../assets/img/fonCad4.png');
   }
   .cards__card_imgTeam {
    margin: 20px auto;
    height: 170px;
   }
   h3 {
    font-family: 'Inter';
    text-shadow: 1px 3px 1px rgb(10, 10, 10);
    color: rgb(246, 237, 248);
    font-weight: 400;
    font-size: 25px;  
    margin: 20px auto;
   }
   .cards__card_work {
    text-shadow: 1px 1px 1px rgb(10, 10, 10);
    font-size: 18px;
   }
   .cards__card_imgGitHub {
    height: 50px;
    margin: 20px auto 30px;
    &:hover {
      transform: scale(.95);
    }
   }
.teamPage__btn {
  width: 217px;
  height: 56px;
  background-image: url('../../../assets/img/btn.png');
  background-size: 100%;
  background-repeat:no-repeat;
  margin: 20px auto;
  border: none;
  font-size: 20px;  
  background-color:transparent;
  cursor: pointer;
  &:hover {
    transform: scale(.95);
  }
}


