.audio-call {
  width: 50%;
    font-family: 'Junegull';
    text-align: center;
    margin: 20px auto;   
    border-radius: 25px;
    padding: 15px 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    //box-shadow: 0 0 0 2px white, 0 0 0 4px #3A2F28;
   
}
.audio-call-header {
display: flex;
justify-content: space-between;
}

.audio-call-header__btn-exit {
  background-color:transparent;
  font-size: 20px;
  color:gold;
  border: 2px solid white;
  border-radius: 50%; 
  width: 35px;
  height: 35px;
  &:hover {
    border: 2px solid gold;
    color: white;
  }
}
.audio-call-header__btn-fullscreen {
  background-image: url('./assets/img/fullScreen2.png');
  width: 30px;
  height: 30px;
  background-color:transparent;
  background-size: 100% 100%;
  border: none;
  &:hover {
    background-image: url('./assets/img/fullScreen3.png');
  }
}
.audio-call-header__status-bar {
  font-family: 'Junegull';
  font-size: 20px;
}

.status-bar__current:last-child {
  font-family: 'Junegull';
  font-size: 20px;
  color: gold;
  margin-left: 7px;
}
.word-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.audio-call__btn-play-audio {
  // position: absolute;
  // top: 50px;
 // right: 50px;
  background-image: url('./assets/img/say.png');
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  margin: 50px auto;
  z-index: 0;
}
.word-img {
  position: relative;
  z-index: 1;
 display: none;
}
.word-text {
  font-family: 'Junegull';
  font-size: 25px;
  color: gold;
}
.word-transcription {
  font-family: 'Junegull';
  font-size: 18px;
  color: white;
}