.cart {
  display: flex;
  width: 100%;
  overflow: hidden;
  background: #fa6648;
  border: 2px solid #1c1c1d;
  box-shadow: 0px 4px 0px #202020;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  &:nth-child(3n + 2) {
    background: #ffb0bc;
  }
  &:nth-child(3n) {
    background: #ffbd12;
  }
  &__image {
    height: 180px;
    min-width: 268px;
    border-radius: 10px;
    border: 2px solid #1c1c1d;
    overflow: hidden;
    margin-right: 20px;
    object-fit: cover;
  }
  &__word {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
  }
  &__translate {
    font-family: 'Montserrat';
    font-style: italic;
    padding-bottom: 10px;
  }
  &__english {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 500;
  }
  &__audio {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transform: translateY(5px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 1px;
    background-size: 18px 18px;
    background-image: url('/src/assets/img/play-icon.png');
    &--play {
      background-position: 0.5px 0.5px;
      background-image: url('/src/assets/img/pause-icon-18.png');
    }
  }
}
