.team-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.teamPage__title {
  font-family: 'Comic Book';
  text-shadow: 1px 3px 1px rgb(10, 10, 10);
  color: gold;
  font-weight: 400;
  font-size: 75px;
  text-align: center;
  margin: 0 auto 30px;
}

.cards-team {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .cards-team {
    padding: 10px;
  }

  .teamPage__title {
    font-size: 55px;
  }

}

.cards-team__card {
  width: 25%;
  min-width: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .cards-team {
    flex-direction: column;
    align-items: center;
  }

  .cards-team__card {
    width: 55%;
  }
}

@media screen and (max-width: 500px) {
  .cards-team__card {
    width: 85%;
  }
}

.cards-team__card0 {
  background-image: url('./assets/img/fonCad3.png');
}


.cards-team__card1 {
  background-image: url('./assets/img/fonCad2.png');
}

.cards-team__card2 {
  background-image: url('./assets/img/fonCad4.png');
}

.cards-team__card_avatar {
  margin: 20px auto;
  height: 265px;
  width: 216px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avatar0 {
  background-image: url("./assets/img/avatar32.png");

  &:hover {
    background-image: url("./assets/img/avatar3.png");
  }
}

.avatar1 {
  background-image: url("./assets/img/avatar25.png");

  &:hover {
    background-image: url("./assets/img/avatar2.png");
  }
}

.avatar2 {
  background-image: url("./assets/img/avatar34.png");

  &:hover {
    background-image: url("./assets/img/avatar01.png");
  }
}

.cards-team__card_name-person {
  font-family: 'Inter';
  text-shadow: 1px 3px 1px rgb(10, 10, 10);
  color: rgb(246, 237, 248);
  font-weight: 400;
  font-size: 25px;
  margin: 10px auto;
}

.cards-team__card_work {
  text-shadow: 1px 1px 1px rgb(10, 10, 10);
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .cards-team__card_work {
    font-size: 12px;
  }
}

.cards__card_imgGitHub {
  height: 50px;
  margin: 20px auto 30px;

  &:hover {
    transform: scale(.95);
  }
}

.cards-team__linkGithub_img {
  height: 60px;
  margin: 20px auto;
  margin-right: 20px;
  transition: all .5s;

  &:hover {
    transform: scale(1.1);
  }
}


.teamPage__button_return {
  width: 217px;
  height: 56px;
  padding-top: 15px;
  background-image: url('./assets/img/btn.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px auto 50px;
  border: none;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transform: scale(.95);
  }
}