.header {
  padding: 0 20px;
  width: 100%;
  min-height: calc(100vh - 50px);
  background-image: url('../../../assets/img/header1.png');
  background-size: 100%;
  background-repeat: repeat-y;
  font-family: 'Comic Book';
}

.header__navigation {
  width: 100%;
  height: 50px;
  padding: 20px 20px 0;
  display: flex;
  justify-content: flex-start;
}

.header__navigation_ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.header__navigation_a {
  font-family: 'Junegull';
  font-size: 14px;
  font-weight: 200;
  text-shadow: 1px 3px 1px rgb(10, 10, 10);
}

.header__navigation_a:hover {
  color: rgb(255, 243, 137);
  cursor: pointer;
}

.header__textAndImg {
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px 0 0;
}

.header__textBlock {
  width: 40%;
  padding: 0 20px;
}

h1 {
  font-family: 'Comic Book';
  text-shadow: 1px 3px 1px rgb(10, 10, 10);
  color: gold;
  font-weight: 700;
  font-size: 100px;
  margin: 0 auto 30px;
  text-align: center;

}

.header__mobileImgBlock {
  width: 350px;
  height: 605px;
  background-image: url('../../../assets/img/phone2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 35px 135px 10px 120px 15px 35px;
  grid-template-rows: 125px 120px 5px 120px 5px 60px 10px 60px;
}

.header__mobileImgBlock_book,
.header__mobileImgBlock_audio,
.header__mobileImgBlock_sprint,
.header__mobileImgBlock_statictic {
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(66, 6, 85);
  font-family: 'Junegull';
  text-align: center;
  transition: all .3s;
}

.header__mobileImgBlock_book:hover,
.header__mobileImgBlock_audio:hover,
.header__mobileImgBlock_sprint:hover,
.header__mobileImgBlock_statictic:hover {
  transform: scale(1.1);
}

.header__mobileImgBlock_book {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url('../../../assets/img/book.png');
}

.header__mobileImgBlock_audio {
  grid-area: 2 / 4 / 3 / 6;
  background-image: url('../../../assets/img/audio.png');
  background-size: 60% 60%;
}

.header__mobileImgBlock_sprint {
  grid-area: 4 / 2 / 5 / 3;
  background-image: url('../../../assets/img/sprint2.png');
}

.header__mobileImgBlock_statictic {
  grid-area: 4 / 4 / 5 / 6;
  background-image: url('../../../assets/img/statistic.png');
}

.header__mobileImgBlock_autorize,
.header__mobileImgBlock_autor {
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 40px;
  border: 3px solid rgb(49, 3, 49);
  transform: rotate(3deg);
  border-radius: 10px;
  color: white;
  text-shadow: 2px 2px 2px rgb(10, 10, 10);
  font-family: 'Junegull';
  text-align: center;
  padding-top: 15px;
  background-color: rgb(167, 146, 223);
}

.header__mobileImgBlock_autorize {
  grid-area: 6 / 2 / 7 / 5;
  background-image: url('../../../assets/img/autorize.png');

}

.header__mobileImgBlock_autor {
  grid-area: 8 / 2 / 9 / 5;
  background-image: url('../../../assets/img/team2.png');
  transform: translate(-3px) rotate(3deg);
}

.header__mobileImgBlock_autorize:hover,
.header__mobileImgBlock_autor:hover {
  background-color: rgb(65, 12, 211);
  cursor: pointer;
}


@media screen and (max-width: 1850px) {

  h1 {
    font-size: 120px;
  }

}

@media screen and (max-width: 1500px) {

  h1 {
    font-size: 100px;
  }

}
@media screen and (min-width: 1400px) {

  .header__mobileImgBlock {
    width: 525px;
    height: 817px;
    display: grid;
    grid-template-columns: 52px 202px 15px 180px 22px 52px;
    grid-template-rows: 150px 140px 20px 140px 30px 80px 30px 80px;
  }

  .header__mobileImgBlock_autor {
    transform: translate(-2px) rotate(3deg);
  }

  .header__mobileImgBlock_autorize {
    transform: translate(3px) rotate(3deg);
  }

  .header__mobileImgBlock_autorize,
  .header__mobileImgBlock_autor {
    padding-top: 30px;
  }

  h1 {
    font-size: 150px;
  }

  .header__navigation_a {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {

  h1 {
    font-size: 65px;
  }

  h4 {
    font-size: 15px;
  }

}

@media screen and (max-width: 1280px) {

  h1 {
    font-size: 80px;
  }

}

@media screen and (max-width: 1060px) {
 
    .teamPage__cards {
      padding: 10px;
    }
  
  h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 955px) {

  h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 650px) {

  .header__textAndImg{
   flex-direction: column;
   padding: 0;
  }
  .header__textBlock {
    width: 80%;
    margin-bottom: 20px;
  }
  .header__navigation_ul {
    display: none;
  }
 
}
 